.success {
  text-align: center;

  border: 1px solid #dd4a68;
  border-radius: 150px;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 70px;
  background-color: white;
}
.main {
  width: 100%;
  height: 160px;
  background-color: #dd4a68;
  padding-top: 16%;
}
